/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .wp-block-cgb-block-aios-listings-block  {
  background: $red;
  border: 0.2rem solid $black;
  color: $black;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}

/**
 * Editor Stylesheet
 *
 * CSS for backend editor
 */
 @import 'editor/editor';

/**
 * Classic Theme Template
 *
 * CSS for Classic Themes for frontend x backend
 */
@import 'templates/classic';

/**
 * Default Theme Template
 *
 * CSS for Default Themes for frontend x backend
 */
@import 'templates/default';


